/* Estilos generales */
body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

/* Estilos del encabezado */
header {
	background-color: #333;
	color: #fff;
	padding: 20px;
}

h1 {
	margin: 0;
	font-size: 36px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
}

nav a:hover {
	color: #ff0;
}

/* Estilos del contenido */

section {
	margin-bottom: 40px;
	color: ghostwhite;
	text-shadow: 5px orangered;
}

h2 {
	font-size: 24px;
	text-align: center;
}

p {
	line-height: 1.5;
}

/* Estilos del pie de página */
footer {
	background-color: #eee;
	padding: 20px;
	text-align: center;
}
header {
	background: linear-gradient(black, whitesmoke);
}
nav {
	background: linear-gradient(black, whitesmoke, left bottom) ;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 20px;
}
main {
	display: grid;
	place-content: center;
	margin: 20px;
	 background-image: url("vietnam.jpg");
	 background-position: center;
	 background-size: 1920px;
	 background-repeat: repeat-y;
	padding: 10px;
	height: 2900px;
	text-shadow: 2px whitesmoke;
}
body {
	font-family: 'Open Sans', sans-serif;
	

}
footer {
	border-top: 1px solid #ddd;
	box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.3);
}

#seccion1{
	background-blend-mode: darken;
	width: 900px;
	padding: 5px;
	box-shadow: 1px 1px 100px black;
	background-image: url("papel.jpg");
	background-position: center;
	 background-size: 910px;
	 background-repeat: repeat-y;
	border-color: black;
	border-radius: 15px;
	align-self: center;
	
	place-content: center;
	
}

.texto{
	
	font-family: monospace;
	white-space: nowrap;
	border-right: 4px solid;
	width: 17ch;
	animation: typing 2s steps(12), blink .5s infinite step-end alternate ;
	overflow: hidden;

}

@keyframes typing{
	from { width: 0 }

}

@keyframes blink{
  50% {border-color: transparent;}
}

iframe{
	align-self: center;
}

.card{
	position: relative;
	width: 300px;
	height: 350px;
	display: grid;
	place-content: center;
	place-items: center;
	display: flex;
	justify-content: center;
	align-items: center;

}

.card .face{
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	border-radius: 10px;
	overflow: hidden;
	transition: .5s;

}

.card .front{
	transform: perspective(600px) rotateY(0deg);
	box-shadow: 0 5px 10px #000;

}

.card .front img{
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card .front h3{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 45px;
	line-height: 45px;
	color: #fff;
	background: rgba(0, 0, 0, .4);
	text-align: center;

}

.card .back{
	transform: perspective(600px) rotateY(180deg);
	background: rgb(3, 35, 54);
	padding: 15px;
	color: #f3f3f3;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	box-shadow: 0 5px 10px #000;




}

.card .back p{
	padding: 3px;
	border: 3px;
	border-top: #f3f3f3;
	border-bottom: #f3f3f3;
	letter-spacing: 1px;


}

.card:hover .front{
	transform: perspective(600px) rotateY(180deg);
}

.card:hover .back{
	transform: perspective(600px) rotateY(360deg);
}

body::-webkit-scrollbar {
	width: 10px;
	background: linear-gradient(whitesmoke, black);
}

body::-webkit-scrollbar-thumb {
	background: radial-gradient(orange, orangered);
	border-radius: 5px;
	width: 5px;
	height: 5px;
}

strong {
	color: darkblue;
}